<section class="about">
  <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/images/slides/slide1.jpg" class="d-block w-10" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./assets/images/slides/slide2.jpg" class="d-block w-10" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./assets/images/slides/slide3.jpg" class="d-block w-10" alt="...">
      </div>
    </div>
  </div>
  <div class="container text-cont">

    <div class="row row-cols-auto">
      <div class="col about-title">
        <span>CATCOM</span><br>
        <p>
          “We are a vibrant <br>Community for 
          growth,<br> a union for growing<br> in 
          love for oneself <br>and others.
        </p>
      </div>
      <div class="divider"></div>
      <div class="col title">
        <div class="span"><span>"Pray,</span><br></div>
        <div class="span"><span> Believe,</span><br></div>
        <div class="span"><span> Worship.</span><br></div>
      </div>
    </div>
  </div>
  <div class="icons">
    <!-- Facebook -->
    <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/jkuatcatcom" target="_blank"
      role="button"><i class="fab fa-facebook-f"></i></a>

    <!-- Twitter -->
    <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/jkuatcatcom" target="_blank"
      role="button"><i class="fab fa-twitter"></i></a>

    <!-- Whatsapp -->
    <a class="btn btn-outline-light btn-floating m-1" href="https://wa.me/+254 743 728621" target="_blank"
      role="button"><i class="fab fa-whatsapp"></i></a>

    <!-- Instagram -->
    <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/catcomjkuat/" target="_blank"
      role="button"><i class="fab fa-instagram"></i></a>

    <!-- Email -->
    <a class="btn btn-outline-light btn-floating m-1" href="mailto:info@jkuatcatcom fa-2x" target="_blank"
      role="button"><i class="fab fa-envelope-at"></i></a>

  </div>>
  <div class="join-us">
    <a class="nav-link" routerLink="SignIn" routerLinkActive="active-link">Join Us+</a>
    </div>
</section>
<!--footer-->
<app-footer></app-footer>