.carousel-item img {
    min-width: 100%;
    max-height: 30rem;
    overflow: hidden;
}

.about {
    position: relative;
}

.carousel {
    z-index: -1;
}

.text-cont {
    position: absolute;
    z-index: 2;
    top: 6rem;
    left: 3rem;
    color: #f2f2f2;
    background-color: var(--asphalt);
    padding: 1rem;
    max-width: 40%;
    border-radius: 1rem;
}

.divider {
    border-left: 6px solid white;
    margin-left: -3px;
}

.about-title {
    font-size: 1rem;
    font-weight: 500;
    justify-content: space-around;
}

span {
    font-size: 46px;
    font-weight: 200;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-size: 20px;
}

.icons {
    position: absolute;
    z-index: 2;
    bottom: 3rem;
    left: 3rem;
    border-radius: 3px;
}

.join-us {
    position: absolute;
    z-index: 2;
    right: 3rem;
    bottom: 3rem;
    padding: 5px;
    border-radius: 6px;
    font-size: 20px;
}

.btn {
    background-color: var(--asphalt);
}


h1 {
    text-align: center;
    margin: 35px 0 20px 0 !important;
  }
  