<section class="hero">
    <div class="hero-container">
        <img src="./assets/images/rosary.jpg" class="w-100 bg-image" alt="Louvre Museum" />
        <div class="mask h-100 d-flex justify-content-center align-items-center">
            <div class="page-title">
                <h1 class="text-white mb-0">Who We Are</h1>
            </div>
            <p class="text-white"></p>
        </div>
    </div>
</section>
<section class="scc bg-dark">
    <div class="row no-gutters">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body scc-card">
                    <h2 class="card-title text-warning">Our people</h2>
                    <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                        content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 d-flex">
            <div class="card">
                <div class="card-body scc-card">
                    <h5 class="card-title text-warning">Special title treatment</h5>
                    <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                        content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body scc-card">
                    <h5 class="card-title text-warning">Special title treatment</h5>
                    <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                        content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 d-flex">
            <div class="card">
                <div class="card-body scc-card">
                    <h5 class="card-title text-warning">Special title treatment</h5>
                    <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                        content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body scc-card">
                    <h5 class="card-title text-warning">Special title treatment</h5>
                    <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                        content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 d-flex">
            <div class="card">
                <div class="card-body scc-card">
                    <h5 class="card-title text-warning">Special title treatment</h5>
                    <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                        content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body scc-card">
                    <h5 class="card-title text-warning">Special title treatment</h5>
                    <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                        content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 d-flex">
            <div class="card">
                <div class="card-body scc-card">
                    <h5 class="card-title text-warning">Special title treatment</h5>
                    <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                        content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body scc-card">
                    <h5 class="card-title text-warning">Special title treatment</h5>
                    <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                        content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 d-flex">
            <div class="card">
                <div class="card-body scc-card">
                    <h5 class="card-title text-warning">Special title treatment</h5>
                    <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                        content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body scc-card">
                    <h5 class="card-title text-warning">Special title treatment</h5>
                    <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                        content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 d-flex">
            <div class="card">
                <div class="card-body scc-card">
                    <h5 class="card-title text-warning">Special title treatment</h5>
                    <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                        content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body scc-card">
                    <h5 class="card-title text-warning">Special title treatment</h5>
                    <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                        content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body scc-card">
                    <h5 class="card-title text-warning">Special title treatment</h5>
                    <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                        content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="choir bg-dark">
    <div class="card text-white choir-card">
        <div class="card-body">
            <h2 class="card-title text-warning">Our Choir: KMRM </h2>
            <h3>Kwaya ya Mtunzi Romano</h3>
            <p class="card-title text-white">Evangelizing through music, Six albums and counting.</p>
            <p class="card-text text-white">
                Initially JKUAT Catcom Choir, KMRM was renamed in 2022 after the patron of music: Saint Romanos
                the Melodist. The choir manages a YouTube channel where they upload song albums with
                sixth one was released 2020 and launched February 2021. The choir also
                offer music classes to the choir members and other interested persons at a fee.
            </p>
            <p class="card-text">
                The choir is building the KMRM Studio which will not only serve the choir but the catholic
                community, the St. Augustine Parish and other interested parties for audio and video productions.
                The family of approximately 100 makes every second mass at St. Augustine Centre lively
                as ever.We meet at 3.00pm of every friday and saturday for a 2 hour practice session.
            </p>
            <a href="https://www.youtube.com/@kmrmcatcomjkuat" class="btn btn-outline-light btn-floating m-1"><i class="fab fa-youtube me-3"></i>KMRM YouTube channel</a>
            <a href="" class="btn btn-outline-light btn-floating m-1">More info</a>
        </div>

    </div>


</section>

<app-footer></app-footer>