<section class="hero">
    <div class="hero-container">
        <img src="./assets/images/rosary.jpg" class="w-100 bg-image" alt="Louvre Museum" />
        <div class="mask h-100 d-flex justify-content-center align-items-center">
            <div class="page-title">
                <h1 class="text-white mb-0">Who We Are</h1>
            </div>
            <p class="text-white"></p>
        </div>
    </div>
</section>
<section class="scc bg-dark">
    <div class="row no-gutters">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body scc-card">
                    <h2 class="card-title text-warning">Our people, Our culture</h2>
                    <p class="card-text text-white">Catcom is divided into 8 smaller close-knit Small Christian
                        Communities(SCC's). Each SCC is named after a patron saint and has its leaders and functional
                        ecosystem.Like peas in a pod, each SCC has its own personality while sharing a common parent. 
                    </p>
                    <p>Meet the SCC's,the heart of catcom</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 d-flex">
            <div class="card">
                <div class="card-body scc-card">
                    <h5 class="card-title text-warning">St. Paul</h5>
                    <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                        content.
                    </p>
                                    </div>
            </div>
            <div class="card">
                <div class="card-body scc-card">
                    <h5 class="card-title text-warning">St. Mary</h5>
                    <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                        content.
                    </p>
                                   </div>
            </div>
        </div>
        <div class="col-sm-6 d-flex">
            <div class="card">
                <div class="card-body scc-card">
                    <h5 class="card-title text-warning">St. Charles Lwanga</h5>
                    <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                        content.
                    </p>
                                    </div>
            </div>
            <div class="card">
                <div class="card-body scc-card">
                    <h5 class="card-title text-warning">Mary Mother of God</h5>
                    <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                        content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 d-flex">
            <div class="card">
                <div class="card-body scc-card">
                    <h5 class="card-title text-warning">St. stephen</h5>
                    <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                        content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body scc-card">
                    <h5 class="card-title text-warning">Saint Martin De Porres</h5>
                    <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                        content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 d-flex">
            <div class="card">
                <div class="card-body scc-card">
                    <h5 class="card-title text-warning">Saint Veronica</h5>
                    <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                        content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body scc-card">
                    <h5 class="card-title text-warning">Saint Jude Thadeus</h5>
                    <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                        content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 d-flex">
            <div class="card">
                <div class="card-body scc-card">
                    <h5 class="card-title text-warning">St. Therese of the Child Jesus</h5>
                    <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                        content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body scc-card">
                    <h5 class="card-title text-warning">Special title treatment</h5>
                    <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                        content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 d-flex">
            <div class="card">
                <div class="card-body scc-card">
                    <h5 class="card-title text-warning">Special title treatment</h5>
                    <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                        content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body scc-card">
                    <h5 class="card-title text-warning">Special title treatment</h5>
                    <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                        content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body scc-card">
                    <h5 class="card-title text-warning">Special title treatment</h5>
                    <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                        content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="choir bg-dark">
    <div class="card text-white choir-card">
        <div class="card-body">
            <h2 class="card-title text-warning">Our Choir: KMRM </h2>
            <h3>Kwaya ya Mtunzi Romano</h3>
            <p class="card-title text-white">Evangelizing through music, Six albums and counting.</p>
            <p class="card-text text-white">
                Initially JKUAT Catcom Choir, KMRM was renamed in 2022 after the patron of music: Saint Romanos
                the Melodist. The choir manages a YouTube channel where they upload song albums with
                sixth one was released 2020 and launched February 2021. The choir also
                offer music classes to the choir members and other interested persons at a fee.
            </p>
            <p class="card-text">
                The choir is building the KMRM Studio which will not only serve the choir but the catholic
                community, the St. Augustine Parish and other interested parties for audio and video productions.
                The family of approximately 100 makes every second mass at St. Augustine Centre lively
                as ever.We meet at 3.00pm of every friday and saturday for a 2 hour practice session.
            </p>
            <a href="https://www.youtube.com/@kmrmcatcomjkuat" class="btn btn-outline-light btn-floating m-1"><i
                    class="fab fa-youtube me-3"></i>KMRM YouTube channel</a>
            <a href="" class="btn btn-outline-light btn-floating m-1">More info</a>
        </div>

    </div>


</section>
<section class="team">
    <div class="py-5 team4">
        <div class="container">
          <div class="row justify-content-center mb-4">
            <div class="col-md-7 text-center">
              <h3 class="mb-3">Experienced & Professional Team</h3>
              <h6 class="subtitle">You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time</h6>
            </div>
          </div>
          <div class="row">
            <!-- column  -->
            <div class="col-lg-3 mb-4">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12">
                  <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t1.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
                </div>
                <div class="col-md-12 text-center">
                  <div class="pt-2">
                    <h5 class="mt-4 font-weight-medium mb-0">Michael Doe</h5>
                    <h6 class="subtitle mb-3">Property Specialist</h6>
                    <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-3 mb-4">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12">
                  <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t2.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
                </div>
                <div class="col-md-12 text-center">
                  <div class="pt-2">
                    <h5 class="mt-4 font-weight-medium mb-0">Michael Doe</h5>
                    <h6 class="subtitle mb-3">Property Specialist</h6>
                    <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-3 mb-4">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12">
                  <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t3.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
                </div>
                <div class="col-md-12 text-center">
                  <div class="pt-2">
                    <h5 class="mt-4 font-weight-medium mb-0">Michael Doe</h5>
                    <h6 class="subtitle mb-3">Property Specialist</h6>
                    <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-3 mb-4">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12">
                  <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t4.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
                </div>
                <div class="col-md-12 text-center">
                  <div class="pt-2">
                    <h5 class="mt-4 font-weight-medium mb-0">Michael Doe</h5>
                    <h6 class="subtitle mb-3">Property Specialist</h6>
                    <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
          </div>
        </div>
      </div>
</section>   


<section>
    <div class="card" style="width: 18rem;">
        <img src="./assets/images/events/hike.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Example Card</h5>
          <p class="card-text">This is a brief description of the example card.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
        <div class="card-overlay">
          <div class="card-overlay-content">
            <h5 class="card-title">Example Card</h5>
            <p class="card-text">This is a more detailed description of the example card.</p>
          </div>
        </div>        
      </div>
      
</section>

<app-footer></app-footer>