<section class="hero">
    <div class="hero-container">
        <img src="./assets/images/events/rosary.jpg" class="w-100 bg-image" alt="Louvre Museum" />
        <div class="mask h-100 d-flex justify-content-center align-items-center">
            <div class="page-title">
                <h1 class="text-white mb-0">Who We Are</h1>
            </div>
            <p class="text-white"></p>
        </div>
    </div>
</section>

<section class="vision wrapper pt-3">
    <div class="container justify-content-center no-gutters">
        <div class="col">
            <div class="text-center text-dark">
                <div class="vision-body">
                    <h2 class="text-warning mt-3">Our vision</h2>
                    <h3 class="">Who we are becoming</h3>
                    <p class=""> A praying, believing and worshiping community for empowering young people to live as
                        disciples of Jesus Christ; drawing <br>them into
                        responsible participation in the Catholic Church; fostering their personal and spiritual growth.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mission wrapper">
    <div class="container justify-content-center">
        <div class="col">
            <div class="text-center">
                <div class="mission-body text-dark">
                    <h2 class="text-warning mt-3">Our Mission</h2>
                    <h3>What we do, everyday</h3>
                    <p class="text">To help people find God, grow their faith, discover their purpose, and make a
                        difference. <br>We exist to make Heaven more crowded.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="SCC">
    <div class="py-5 team4">
        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-md-7 text-center">
                    <h2 class="text-warning mt-3">Our people, Our culture</h2>
                    <h6 class="subtitle">Named after our patron saints, Small Christian Communities(SCCs) are smaller
                        closeknit families of the bigger CATCOM community where members can connect more and further nourish their Catholic faith</h6>
                    <h6>Meet the SCCs,the heart of catcom</h6>
                </div>
            </div>
            <div class="row">
                <!-- column  -->
                <div class="col-lg-3 col-sm-6 mb-4">
                    <!-- Row -->
                    <div class="card">
                        <img src="./assets/images/SCCs/mary-mother-of-god.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mary motherof God</h5>
                            <p class="card-text">Named after the patron of youth and Catholic action in Africa (Luganda:
                                Kaloli Lwanga, 01/01/1860-03/06/1886), St. Charles lwanga SCC is... <span
                                    class="text-secondary">more</span></p>
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-content">
                                <h5 class="card-title text-white">Mary Mother of God</h5>
                                <p class="card-text">This is a more detailed description card.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-3 col-sm-6 mb-4">
                    <!-- Row -->
                    <div class="card">
                        <img src="./assets/images/SCCs/st-charles-lwanga.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">St. Charles Lwanga</h5>
                            <p class="card-text">Named after the patron of youth and Caholic action in Africa (Luganda:
                                Kaloli Lwanga, 01/01/1860-03/06/1886), St. Charles lwanga SCC is... <span
                                    class="text-secondary">more</span></p>
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-content">
                                <h5 class="card-title text-white">St. Charles Lwanga</h5>
                                <p class="">Named after the patron of youth and Caholic action in Africa
                                    (Luganda: Kaloli Lwanga, 1st Jan 1860-3rd June 1886), St. Charles lwanga SCC is an
                                    amazing family...
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-3 col-sm-6 mb-4">
                    <!-- Row -->
                    <div class="card">
                        <img src="./assets/images/SCCs/st-jude.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">St. Jude</h5>
                            <p class="card-text">Named after the patron of youth and Caholic action in Africa (Luganda:
                                Kaloli Lwanga, 01/01/1860-03/06/1886), St. Charles lwanga SCC is... <span
                                    class="text-secondary">more</span></p>
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-content">
                                <h5 class="card-title text-white">St. Jude</h5>
                                <p class="card-text">This is a more detailed description of card.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-3 col-sm-6 mb-4">
                    <!-- Row -->
                    <div class="card">
                        <img src="./assets/images/SCCs/st-martin.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">St. Martin</h5>
                            <p class="card-text">Named after the patron of youth and Caholic action in Africa (Luganda:
                                Kaloli Lwanga, 01/01/1860-03/06/1886), St. Charles lwanga SCC is... <span
                                    class="text-secondary">more</span></p>
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-content">
                                <h5 class="card-title text-white">St. Martin</h5>
                                <p class="card-text">This is a more detailed description card.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column -->
                <!-- column  -->
                <div class="col-lg-3 col-sm-6 mb-4">
                    <!-- Row -->
                    <div class="card">
                        <img src="./assets/images/SCCs/st-stephen.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">St. Stephen</h5>
                            <p class="card-text">Named after the patron of youth and Caholic action in Africa (Luganda:
                                Kaloli Lwanga, 01/01/1860-03/06/1886), St. Charles lwanga SCC is... <span
                                    class="text-secondary">more</span></p>
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-content">
                                <h5 class="card-title text-white">St. Stephen</h5>
                                <p class="card-text">This is a more detailed description card.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-3 col-sm-6 mb-4">
                    <!-- Row -->
                    <div class="card">
                        <img src="./assets/images/SCCs/st-therese.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">St. Therese</h5>
                            <p class="card-text">Named after the patron of youth and Catholic action in Africa (Luganda:
                                Kaloli Lwanga, 01/01/1860-03/06/1886), St. Charles lwanga SCC is... <span
                                    class="text-secondary">more</span></p>
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-content">
                                <h5 class="card-title text-white">St. Therese</h5>
                                <p class="card-text">This is a more detailed description card.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-3 col-sm-6 mb-4">
                    <!-- Row -->
                    <div class="card">
                        <img src="./assets/images/SCCs/st-veronica.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">St. Veronica</h5>
                            <p class="card-text">Named after the patron of youth and Caholic action in Africa (Luganda:
                                Kaloli Lwanga, 01/01/1860-03/06/1886), St. Charles lwanga SCC is... <span
                                    class="text-secondary">more</span></p>
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-content">
                                <h5 class="card-title text-white">St veronica</h5>
                                <p class="card-text">When Christ was walking to Calvary, his face dripping with sweat and blood, Saint Veronica, a bystander was moved with compassion. She approached Jesus and offered Him a cloth, likely her veil, which He accepted and used to wipe His face. The image of His face was subsequently imprinted on the cloth.Saint Veronica feast day is 12th July and she is the patron saint of maids, parsonage housekeepers, photographers, rectory housekeepers, seamstress, washerwomen, against bleeding, against hemorrhages, domestic workers, dying people, laundry workers and linen weavers. </p>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-3 col-sm-6 mb-4">
                    <!-- Row -->
                    <div class="card">
                        <img src="./assets/images/events/hike.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">St. Paul</h5>
                            <p class="card-text">Named after the patron of youth and Caholic action in Africa (Luganda:
                                Kaloli Lwanga, 01/01/1860-03/06/1886), St. Charles lwanga SCC is... <span
                                    class="text-secondary">more</span></p>
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-content">
                                <h5 class="card-title text-white">St. Paul</h5>
                                <p class="card-text">This is a more detailed description card.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
            </div>
        </div>
    </div>
</section>





<section class="Choir">
    <div class="py-5 team4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="text-warning mb-3">Our Choir, KMRM</h2>
                    <h3 class="">Kwaya ya Mtakatifu Romano Mtunzi</h3>
                    <h6>Evangelizing through music, Six albums and counting...</h6>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-8 col-md-7 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Our story</h5>
                            <p class="text-dark">Initially identified as JKUAT Catcom Choir, it was renamed to KMRM in 2022 after the patron
                                of music: <a class="st-Romanus-t-m" href="https://www.catholic.org/saints/saint.php?saint_id=4635">Saint Romanus
                                    
                                    the Melodist.</a> The choir manages a YouTube channel where they upload song performances and albums with
                                latest one, Volume six launched in February 2021 with other projects on the way. The choir also
                                offer music classes to the choir members and other interested persons at a fee.
                            </p>
                            <p class="text-dark">
                                The choir is building the KMRM Studio which will not only serve the choir but the
                                catholic
                                community, the St. Augustine Parish and other interested parties for audio and video
                                productions.
                                The family of approximately 100 makes every second mass at St. Augustine Centre lively
                                as ever.We meet at 6pm of every friday at SPA106 and every Saturday at 3pm at FABS for a 2 hour practice session. All are welcome!
                            </p>
                            <p class="card-text text-muted">You can support the choir by subscribing to the KMRM youtube
                                channel.</p>
                            <a href="https://www.youtube.com/@kmrmcatcomjkuat"
                                class="btn btn-outline-dark btn-floating m-1"><i class="fab fa-youtube me-3"></i>KMRM
                                YouTube channel</a>
                            <a href="" class="btn btn-outline-dark btn-floating m-1">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Latest from KMRM</h5>
                        </div>
                        <a href="example-link.html">
                            <img src="./assets/images/choir.png" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <a href="https://www.youtube.com/watch?v=i9nGqGppB7I"
                                class="btn btn-outline-dark btn-floating m-1"><i class="fab fa-youtube me-3"></i>Watch
                                on youtube</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="leaders">
    <div class="py-5 team4">
        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-md-7 text-center">
                    <h2 class="text-warning mb-3">Our leaders, Our story</h2>
                    <h6 class="">"So he shepherded them according to the integrity of his heart, And guided them with his skillful hands.”
                        Psalms 78:72
                        The community is led by a dedicated and able team of members who make up the CATCOM executive. They ensure everything is as
                        smooth as it can get and oversee all CATCOM activities for the year </h6>

                    
                    <h3>Meet our Executive team for the year 2023-2024.</h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <!-- column  -->
                <div class="col-lg-2 col-md-4 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <img src="./assets/images/leaders/moderator.jpg" alt="wrapkit"
                                class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">Cyrus Kimutai</h5>
                                <h6 class="subtitle mb-3">Moderator</h6>
                                <!-- Instagram -->
                                <a class="btn btn-outline-dark btn-floating m-1"
                                    href="https://www.instagram.com/its_kimutai/" target="_blank" role="button"><i
                                        class="fab fa-instagram"></i></a>
                                <!-- Twitter -->
                                <a class="btn btn-outline-dark btn-floating m-1" href="https://twitter.com/jkuatcatcom"
                                    target="_blank" role="button"><i class="fab fa-twitter"></i></a>

                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-2 col-md-4 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <img src="./assets/images/leaders/vice-moderator.jpeg" alt="wrapkit"
                                class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">Mercy Ndungu</h5>
                                <h6 class="subtitle mb-3">Vice Moderator</h6>
                                <a class="btn btn-outline-dark btn-floating m-1"
                                    href="https://www.instagram.com/catcomjkuat/" target="_blank" role="button"><i
                                        class="fab fa-instagram"></i></a>
                                <!-- Twitter -->
                                <a class="btn btn-outline-dark btn-floating m-1" href="https://twitter.com/jkuatcatcom"
                                    target="_blank" role="button"><i class="fab fa-twitter"></i></a>

                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-2 col-md-4 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <img src="./assets/images/leaders/treasurer.jpeg" alt="wrapkit"
                                class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">Audrey Bii</h5>
                                <h6 class="subtitle mb-3">Treasurer</h6>
                                <a class="btn btn-outline-dark btn-floating m-1"
                                    href="https://www.instagram.com/catcomjkuat/" target="_blank" role="button"><i
                                        class="fab fa-instagram"></i></a>
                                <!-- Twitter -->
                                <a class="btn btn-outline-dark btn-floating m-1" href="https://twitter.com/jkuatcatcom"
                                    target="_blank" role="button"><i class="fab fa-twitter"></i></a>

                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-2 col-md-4 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="ool-md-12">
                            <img src="./assets/images/leaders/OrgSec.jpg" alt="wrapkit"
                                class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">Peter Sankale</h5>
                                <h6 class="subtitle mb-3">Organizing Secretary</h6>
                                <a class="btn btn-outline-dark btn-floating m-1"
                                    href="https://www.instagram.com/p/CokPS9to-2O/?igshid=YmMyMTA2M2Y" target="_blank" role="button"><i
                                        class="fab fa-instagram"></i></a>
                                <!-- Twitter -->
                                <a class="btn btn-outline-dark btn-floating m-1" href="https://twitter.com/PeterSankale4?t=sgY9IJefSts4KqD9szaVxw&s=09"
                                    target="_blank" role="button"><i class="fab fa-twitter"></i></a>

                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column -->
                <!-- column  -->
                <div class="col-lg-2 col-md-4 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <img src="./assets/images/leaders/publicity-secretary.jpeg" alt="wrapkit"
                                class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">Wycliffe Mboya</h5>
                                <h6 class="subtitle mb-3">Publicity Secretary</h6>
                                <a class="btn btn-outline-dark btn-floating m-1"
                                    href="https://instagram.com/mboya.wycliffe?igshid=Mzc0YWU1OWY=" target="_blank" role="button"><i
                                        class="fab fa-instagram"></i></a>
                                <!-- Twitter -->
                                <a class="btn btn-outline-dark btn-floating m-1" href="https://twitter.com/jkuatcatcom"
                                    target="_blank" role="button"><i class="fab fa-twitter"></i></a>

                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-2 col-md-4 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <img src="./assets/images/leaders/secretary.jpeg" alt="wrapkit"
                                class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">Linet Ithara</h5>
                                <h6 class="subtitle mb-3">Secretary</h6>
                                <a class="btn btn-outline-dark btn-floating m-1"
                                    href="https://instagram.com/waithera.ithara?igshid=ZDdkNTZiNTM" target="_blank" role="button"><i
                                        class="fab fa-instagram"></i></a>
                                <!-- Twitter -->
                                <a class="btn btn-outline-dark btn-floating m-1" href="https://twitter.com/withusy1?t=Cmbbn5Bak00nqCkrdm3fvg&s=08"
                                    target="_blank" role="button"><i class="fab fa-twitter"></i></a>

                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-2 col-md-4 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <img src="./assets/images/leaders/vice-secretary.jpg" alt="wrapkit"
                                class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">Clare Maina</h5>
                                <h6 class="subtitle mb-3">Vice Secretary</h6>
                                <a class="btn btn-outline-dark btn-floating m-1"
                                    href="https://instagram.com/_mainaclaire_?igshid=MDM4ZDc5MmU=" target="_blank" role="button"><i
                                        class="fab fa-instagram"></i></a>
                                <!-- Twitter -->
                                <a class="btn btn-outline-dark btn-floating m-1" href="https://twitter.com/jkuatcatcom"
                                    target="_blank" role="button"><i class="fab fa-twitter"></i></a>

                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-2 col-md-4 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <img src="./assets/images/leaders/pastoral-secretary.jpeg" alt="wrapkit"
                                class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">Allan Njagi</h5>
                                <h6 class="subtitle mb-3">Pastoral Secretary</h6>
                                <a class="btn btn-outline-dark btn-floating m-1"
                                    href="https://instagram.com/anjagi93?igshid=YmMyMTA2M2Y" target="_blank" role="button"><i
                                        class="fab fa-instagram"></i></a>
                                <!-- Twitter -->
                                <a class="btn btn-outline-dark btn-floating m-1" href="https://twitter.com/Njagi8Njagi?t=8xCPKlhBdVlMnwcS0QRTpA&s=09"
                                    target="_blank" role="button"><i class="fab fa-twitter"></i></a>

                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-2 col-md-4 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <img src="./assets/images/leaders/catering-secretary.jpeg" alt="wrapkit"
                                class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">Peter Adero</h5>
                                <h6 class="subtitle mb-3">Catering Secretary</h6>
                                <a class="btn btn-outline-dark btn-floating m-1"
                                    href="https://www.instagram.com/catcomjkuat/" target="_blank" role="button"><i
                                        class="fab fa-instagram"></i></a>
                                <!-- Twitter -->
                                <a class="btn btn-outline-dark btn-floating m-1" href="https://twitter.com/peterhadero?t=CDtwFVVH4OA0DjPsnxiANA&s=09"
                                    target="_blank" role="button"><i class="fab fa-twitter"></i></a>

                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-2 col-md-4 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <img src="./assets/images/leaders/choir-moderator.jpeg" alt="wrapkit"
                                class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">Maria Goretty</h5>
                                <h6 class="subtitle mb-3">Choir Moderator</h6>
                                <a class="btn btn-outline-dark btn-floating m-1"
                                    href="https://www.instagram.com/catcomjkuat/" target="_blank" role="button"><i
                                        class="fab fa-instagram"></i></a>
                                <!-- Twitter -->
                                <a class="btn btn-outline-dark btn-floating m-1" href="https://twitter.com/MGeegee?t=2NNZnCwN5buYr1SUDDptFA&s=09"
                                    target="_blank" role="button"><i class="fab fa-twitter"></i></a>

                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-2 col-md-4 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <img src="./assets/images/leaders/choir-director.jpeg" alt="wrapkit"
                                class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">Joan Wambura</h5>
                                <h6 class="subtitle mb-3">Choir Director</h6>
                                <a class="btn btn-outline-dark btn-floating m-1"
                                    href="https://www.instagram.com/catcomjkuat/" target="_blank" role="button"><i
                                        class="fab fa-instagram"></i></a>
                                <!-- Twitter -->
                                <a class="btn btn-outline-dark btn-floating m-1" href="https://twitter.com/jkuatcatcom"
                                    target="_blank" role="button"><i class="fab fa-twitter"></i></a>

                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>