
<!-- Footer -->
<footer class="text-center text-lg-start text-white" style="background-color: #3e4551">
  <!-- Grid container -->
  <div class="container p-4 pb-0 ">
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-white">Contact Us</h5>
          <div class="container text-white text-decoration">
            <div class="row">
              <div class="col-lg-1">
                1 of 3
              </div>
              <div class="col-lg-3">
                <a href="https://goo.gl/maps/oMjB3KR6kVbWxGC17" target="_blank">
                  <p>St. Augustine Parish,</p> 
                  <p>Gachororo Road</p>
                </a>
              </div>
            </div>
          </div>


        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Quick Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a routerLink="home" class="text-white">Home</a>
            </li>
            <li>
              <a routerLink="about" class="text-white">About</a>
            </li>
            <li>
              <a routerLink="Events" class="text-white">Events</a>
            </li>
            <li>
              <a routerLink="blog" class="text-white">Blog</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white"></a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->

    <hr class="mb-4" />

    <!-- Section: CTA -->
    <section class="">
      <p class="d-flex justify-content-center align-items-center">
        <span class="me-3">Register for free</span>
        <button type="button" class="btn btn-outline-light btn-rounded">
          Sign up!
        </button>
      </p>
    </section>
    <!-- Section: CTA -->

    <hr class="mb-4" />

    <!-- Section: Social media -->
    <section class="mb-4 text-center">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/jkuatcatcom" target="_blank"
        role="button"><i class="fab fa-facebook-f"></i></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/jkuatcatcom" target="_blank"
        role="button"><i class="fab fa-twitter"></i></a>

      <!-- Whatsapp -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://wa.me/+254 743 728621" target="_blank"
        role="button"><i class="fab fa-whatsapp"></i></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/catcomjkuat/" target="_blank"
        role="button"><i class="fab fa-instagram"></i></a>

      <!-- Email -->
      <a class="btn btn-outline-light btn-floating m-1" href="mailto:info@jkuatcatcom fa-2x" target="_blank"
        role="button"><i class="fab fa-envelope-at"></i></a>

    </section>
    <hr class="mb-4" />
    <!-- Section: Social media -->
    <!--section: FAQ-->
    <section class="accordion-section mb-4 text-center clearfix mt-3" aria-label="Question Accordions">
      <div class="container">

        <h2>Frequently Asked Questions </h2>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
              <h3 class="panel-title">
                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                  href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                  What are the benefits of Solodev CMS?
                </a>
              </h3>
            </div>
            <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
              <div class="panel-body px-3 mb-4">
                <p>With Solodev CMS, you and your visitors will benefit from a finely-tuned technology stack that drives
                  the highest levels of site performance, speed and engagement - and contributes more to your bottom
                  line. Our users fell in love with:</p>
                <ul>
                  <li>Light speed deployment on the most secure and stable cloud infrastructure available on the market.
                  </li>
                  <li>Scalability – pay for what you need today and add-on options as you grow.</li>
                  <li>All of the bells and whistles of other enterprise CMS options but without the design limitations -
                    this CMS simply lets you realize your creative visions.</li>
                  <li>Amazing support backed by a team of Solodev pros – here when you need them.</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
              <h3 class="panel-title">
                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                  href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  How easy is it to build a website with Solodev CMS?
                </a>
              </h3>
            </div>
            <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
              <div class="panel-body px-3 mb-4">
                <p>Building a website is extremely easy. With a working knowledge of HTML and CSS you will be able to
                  have a site up and running in no time.</p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
              <h3 class="panel-title">
                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                  href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                  What is the uptime for Solodev CMS?
                </a>
              </h3>
            </div>
            <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
              <div class="panel-body px-3 mb-4">
                <p>Using Amazon AWS technology which is an industry leader for reliability you will be able to
                  experience an uptime in the vicinity of 99.95%.</p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
              <h3 class="panel-title">
                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                  href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                  Can Solodev CMS handle multiple websites for my company?
                </a>
              </h3>
            </div>
            <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
              <div class="panel-body px-3 mb-4">
                <p>Yes, Solodev CMS is built to handle the needs of any size company. With our Multi-Site Management,
                  you will be able to easily manage all of your websites.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!--section: FAQ-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: var(--catcom-blue)">
    <span><a class="text-white" href="https://jkuatcatcom.org">© 2023 Copyright</a></span>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->