<section class="d-flex">
  <div class="col col-md-3 col-sm-6 bg-danger">
    <div class="">
      <h3>Let's get in touch</h3>
      <div class="">
        <div class="">
          <span class="fa fa-map-marker"></span>
        </div>
        <div class="text pl-3">
          <p>
            <span>Address: </span>
            <a href="https://goo.gl/maps/oMjB3KR6kVbWxGC17" target="_blank">
              St. Augustine Parish, Gachororo
            </a>
          </p>
        </div>
      </div>
      <div class="">
        <div class="">
          <span class="fa fa-phone"></span>
        </div>
        <div class="">
          <p><span>Phone: </span> <a href="https://wa.me/+254 743 728621"> +254 743 728621</a>
          </p>
        </div>
      </div>
      <div class="">
        <div class="">
          <span class="fa fa-paper-plane"></span>
        </div>
        <div class="">
          <p><span>Email: </span> <a href="mailto:info@jkuatcatcom">info@jkuatcatcom</a>
          </p>
        </div>
      </div>
    </div>
    </div>
    <div class="col col-md-3 col-sm-6 bg-warning">
      <div class="">
        <h3>Quick links</h3>
        <ul class="">
          <li>
            <a routerLink="home" class="text-white">Home</a>
          </li>
          <li>
            <a routerLink="about" class="text-white">About</a>
          </li>
          <li>
            <a routerLink="Events" class="text-white">Events</a>
          </li>
          <li>
            <a routerLink="blog" class="text-white">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  
  <div class="col bg-primary col-md-3 col-sm-6">
    <div class="">
      <h3>Frequently asked questions</h3>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
              data-mdb-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Accordion Item #1
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-mdb-parent="#accordionFlushExample">
            <div class="accordion-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
              richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
              brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
              sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
              et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
              sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
              craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
              heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
              data-mdb-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              Accordion Item #2
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-mdb-parent="#accordionFlushExample">
            <div class="accordion-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
              richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
              brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
              sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
              et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
              sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
              craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
              heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
              data-mdb-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              Accordion Item #3
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-mdb-parent="#accordionFlushExample">
            <div class="accordion-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
              richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
              brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
              sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
              et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
              sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
              craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
              heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col bg-secondary col-md-3 col-sm-6">
    <div class="">
      <div class="logo">
        <img src="./assets/images/jkuatcatcomlogo.png" alt="logo">
      </div>
      <div class="theme">
        A Praying, Believing and Worshiping Community
      </div>
    </div>
  </div>
</section>
<!-- Section: CTA -->
<section class="column bg-primary">
  <p class="d-flex justify-content-center align-items-center">
    <span class="me-3">Register for free</span>
    <button type="button" class="btn btn-outline-light btn-rounded">
      Sign up!
    </button>
  </p>
</section>
<!-- Section: CTA -->


<!-- Section: Social media -->
<section class="text-center bg-danger">
  <!-- Facebook -->
  <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/jkuatcatcom" target="_blank"
    role="button"><i class="fab fa-facebook-f"></i></a>

  <!-- Twitter -->
  <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/jkuatcatcom" target="_blank"
    role="button"><i class="fab fa-twitter"></i></a>

  <!-- Whatsapp -->
  <a class="btn btn-outline-light btn-floating m-1" href="https://wa.me/+254 743 728621" target="_blank"
    role="button"><i class="fab fa-whatsapp"></i></a>

  <!-- Instagram -->
  <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/catcomjkuat/" target="_blank"
    role="button"><i class="fab fa-instagram"></i></a>

  <!-- Email -->
  <a class="btn btn-outline-light btn-floating m-1" href="mailto:info@jkuatcatcom" target="_blank" role="button"><i
      class="fab fa-envelope-at"></i></a>

</section>