<section class="hero">
    <div class="hero-container">
        <img src="./assets/images/rosary.jpg" class="w-100 bg-image" alt="Louvre Museum" />
        <div class="mask h-100 d-flex justify-content-center align-items-center">
            <div class="page-title">
                <h1 class="text-white mb-0">What's Happening</h1>
            </div>
            <p class="text-white"></p>
        </div>
    </div>
</section>
<section class="activities bg-dark pt-3 pb-3 shadow-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-lg-start border-bottom mb-4">Weekly Program</h3>
            </div>
        </div>
        <div
            class="row no-gutters program d-flex d-flexjustify-content-center justify-content-center align-items-center">
            <div class="col col-lg-2">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header d-flex">
                            <i class="fas fa-church me-3"></i>
                            <h6>Daily <br> mass</h6>
                        </div>
                        <div class="d-block">
                            <h6>Mon-Fri</h6>
                            <h6>6.15 am</h6>
                            <h6>Parish site</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-lg-2">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header d-flex">
                            <i class="fas fa-bible me-3"></i>
                            <h6>Morning mass</h6>
                        </div>
                        <div class="d-block">
                            <h6>Saturday</h6>
                            <h6>7.00 am</h6>
                            <h6>Parish site</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-2">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header d-flex">
                            <i class="fas fa-cross me-3"></i>
                            <h6>Student mass</h6>
                        </div>
                        <div class="d-block">
                            <h6>Wednesaday's</h6>
                            <h6>6.45 pm</h6>
                            <h6>SPA Lecture Hall</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-2">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header d-flex">
                            <i class="fas fa-pray me-3"></i>
                            <h6>Confession service</h6>
                        </div>
                        <div class="d-block">
                            <h6>Saturday</h6>
                            <h6>9.00 am</h6>
                            <h6>Parish site</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-2">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header d-flex">
                            <i class="fas fa-dove me-3"></i>
                            <h6>Second mass</h6>
                        </div>
                        <div class="d-block">
                            <h6>Sunday</h6>
                            <h6>8.45 am</h6>
                            <h6>Parish site</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-2">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header d-flex">
                            <i class="fas fa-church me-3"></i>
                            <h6>Office Hours</h6>
                        </div>
                        <div class="d-block">
                            <h6>Mon-Fri</h6>
                            <h6>12.00am-1.00pm</h6>
                            <h6>Parish site</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-dark pt-5 pb-3 shadow-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-lg-start border-bottom mb-4">What are we upto</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                <div class="card events-card">
                    <img src="./assets/images/hike.jpg" class="card-img-top" alt="Card Image">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-warning">Hike</h5>
                        <p class="card-text mb-4">Bounty always receives part of its value from the manner in which
                            it is bestowed.
                            If you want happiness for a year, inherit a fortune. If you want happiness for a
                            lifetime,
                            help someone else.</p>
                        <h6><span class="me-3">Destination:</span>Aberdare Ranges</h6>
                        <h6><span class="me-3">Date:</span>20th Feb</h6>
                        <h6><span class="me-3">Charges:</span>KSh 1500</h6>
                        <a href="http://localhost:4200/contacts" class="btn btn-outline-light btn-floating m-1"><i
                                class="fas fa-hiking me-3"></i>Attend</a>
                        <a href="https://wa.me/+254 743 728621" target="_blank"
                            class="btn btn-outline-light btn-floating m-1">More info</a>
                    </div>

                </div>
            </div>
            <!--ADD CLASSES HERE d-flex align-items-stretch-->
            <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                <div class="card events-card">
                    <img src="./assets/images/charity.jpg" class="card-img-top" alt="Card Image">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-warning">Charity Work</h5>
                        <p class="card-text mb-4">Bounty always receives part of its value from the manner in which
                            it is bestowed.
                            If you want happiness for a year, inherit a fortune. If you want happiness for a
                            lifetime,
                            help someone else.</p>
                        <h6><span class="me-3">Destination:</span>Aberdare Ranges</h6>
                        <h6><span class="me-3">Date:</span>20th Feb</h6>
                        <h6><span class="me-3">Charges:</span>KSh 1000</h6>
                        <a href="http://localhost:4200/contacts" class="btn btn-outline-light btn-floating m-1"><i
                                class="fas fa-hand-holding-heart me-3"></i>Contribute</a>
                        <a href="https://wa.me/+254 743 728621" target="_blank"
                            class="btn btn-outline-light btn-floating m-1">More info</a>
                    </div>
                </div>
            </div>
            <!--ADD CLASSES HERE d-flex align-items-stretch-->
            <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                <div class="card events-card">
                    <img src="./assets/images/socialday.jpg" class="card-img-top" alt="Card Image">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-warning">Social Day</h5>
                        <p class="card-text mb-4">Bounty always receives part of its value from the manner in which
                            it is bestowed.
                            If you want happiness for a year, inherit a fortune. If you want happiness for a
                            lifetime,
                            help someone else.</p>
                        <h6><span class="me-3">Destination:</span>Aberdare Ranges</h6>
                        <h6><span class="me-3">Date:</span>20th Feb</h6>
                        <h6><span class="me-3">Charges:</span>Free</h6>
                        <a href="http://localhost:4200/contacts" class="btn btn-outline-light btn-floating m-1"><i
                                class="fas fa-puzzle-piece me-3"></i>Attend</a>
                        <a href="https://wa.me/+254 743 728621" target="_blank"
                            class="btn btn-outline-light btn-floating m-1">More info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="projects bg-dark pb-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-lg-start border-bottom mb-4">What are building</h3>
            </div>
        </div>
        <div class="card mb-3">
            <div class="row g-0 d-flex">
                <div class="col w-25">
                    <img src="./assets/images/studio.jpg" class="studio-img">
                </div>
                <div class="col-md-8 w-75">
                    <div class="card-body">
                        <h5 class="card-title">We are building a studio</h5>
                        <p class="card-text">
                            The choir is building the KMRM Studio which will not only serve the choir but the catholic
                            community, the St. Augustine Parish and other interested parties for audio and video
                            productions.The choir also offer music classes to the choir members and other interested persons at a fee.
                        </p>
                        <p class="card-text text-muted">We are accepting contributions in funds and equipment.</p>
                        <a href="http://localhost:4200/contacts" class="btn btn-outline-light btn-floating m-1"><i
                                class="fas fa-puzzle-piece me-3"></i>Contribute</a>
                        <a href="https://wa.me/+254 743 728621" target="_blank"
                            class="btn btn-outline-light btn-floating m-1">More info</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






<!--footer-->
<app-footer></app-footer>