/* Define the font styling here */

/* Style the body background color here */

/* Style common containers or wrappers here */

/* Do not use !important here */

@import url(./variables.css);
@import url(./fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: var(--white);
  font-family: "Poppins", sans-serif;
  max-width: 100vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  padding: 0 2rem;
  position: relative;
}

.section-title {
  text-align: center;
  font-size: 2.2rem;
  font-weight: normal;
  list-style: none;
}

.rounded-user-img {
  height: 40px;
  width: 40px;
  display: inline;
  border-radius: 50%;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: inherit;
  padding: 1rem;
  margin: 1rem;
}

