@import url(./variables.css);
@import url(./global.css);

/*styling about section*/

.about {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-width: 100%;
    height: auto;
    margin: auto;
    position: relative;
    height: 50rem;
    overflow: hidden;
    clear: both;
}


/* Slideshow container */

.slideshow-container {
    min-width: 100%;
    position: absolute;
}


/*content-container*/

.content-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    display: flex;
    top: 5rem;
    z-index: 2;
}


/*text-container*/

.text-container {
    display: flex;
    flex-direction: space-evenly;
    color: #f2f2f2;
    background-color: var(--asphalt);
    ;
    padding: 2rem;
    margin-left: 3rem;
    max-width: 50%;
    border-radius: 1rem;
    max-width: 60%;
}

.socials-card {
    padding-left: inherit;
    padding-top: 10rem;
}

.mySlides {
    max-height: 10rem;
}

.mySlides img {
    vertical-align: middle;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.divider {
    background-color: white;
    margin: 1rem;
    min-width: 0.2rem;
    border-radius: 1rem;
}

.about-title {
    font-size: 1rem;
    font-weight: 500;
    justify-content: space-around;
}

.about-title:nth-child(2) {
    justify-content: space-between;
}

.socials-card {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.join-us {
    color: #f2f2f2;
    background-color: var(--asphalt);
    border-radius: 1rem;
}

span {
    padding: 1rem;
    margin: 0px;
    text-align: center;
}

p {
    font-size: 1.5rem;
    padding: 1rem;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(9, 9, 9);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: var(--asphalt);
}


/* Fading animation */

.fade {
    -webkit-animation-name: slidein;
    -webkit-animation-duration: 0.5s;
    animation-name: slidein;
    animation-duration: 0.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .2
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .2
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .2
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .2
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .2
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (min-width:768px) {
    .text-container {
        width: 50%;
        padding: 3%;
    }
    .divider {
        min-width: 0.1rem;
    }
    .dot {
        height: 10px;
        width: 10px;
    }
    .content-container span {
        font-size: 1.5rem;
        padding: 0rem;
        margin: 0rem;
    }
    .about-title {
        font-size: 8px;
    }
}


/*large screens*/

@media only screen and (min-width: 992px) {
    .text-container {
        min-width: 60%;
    }
    .content-container span {
        font-size: 2.5rem;
    }
    .about-title p {
        font-size: 1.5rem;
    }
}


/*styling the community section*/

.from-community>.cards-container {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 1rem;
}

.from-community .cards-container .from-community-card {
    background-color: var(--light-gray);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.from-community .cards-container .from-community-card>div:first-child {
    display: block;
}

.from-community .cards-container .from-community-card>div .blogger-name {
    display: flex;
    align-items: center;
    padding: 0.5rem 0 1rem 0;
}

.from-community .cards-container .from-community-card>div .blogger-name img:first-child {
    margin-right: 1rem;
}

.from-community .cards-container .from-community-card>div .intro-bg {
    width: 100%;
}

.from-community .cards-container .from-community-card>div.blog-message {
    padding: 1rem;
    background-color: var(--light-green);
    border-radius: 10px;
    margin-top: 1rem;
}

.from-community .cards-container .from-community-card h4 {
    font-size: 1.5rem;
    font-weight: 500;
}

@media only screen and (min-width: 768px) {
    .from-community>.cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 992px) {
    .from-community .cards-container .from-community-card {
        flex-direction: row;
        justify-content: space-between;
    }
    .from-community .cards-container .from-community-card>div {
        width: 50%;
    }
    .from-community .cards-container .from-community-card>div:first-child {
        width: 40%;
        display: block;
    }
}

.motto {
    position: relative;
    bottom: 10px;
    /*adds 20px of padding from the bottom */
    left: 10px;
    /*adds 20px of padding from the left */
    color: #fff;
    /* sets the text color to white */
    font-size: 1.5em;
    /* sets the font size to 1.5 times the default size */
    font-weight: bold;
    /* sets the text to bold */
    text-shadow: 2px 2px #000;
    /* adds a black shadow to the text */
}

img.intro-bg {
    position: relative;
    bottom: 0px;
    /*adds 20px of padding from the bottom */
    left: 10px;
    /*adds 20px of padding from the left */
    width: 100px;
    /* sets the width of the image to 100px */
    height: 100px;
    /* sets the height of the image to 100px */
    object-fit: contain;
    /* scales the image to fit within the given width and height while maintaining its aspect ratio */
}

@charset "UTF-8";

/* Body */

body {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    background-color: #FFFFFF;
    margin: 0;
}


/* Header */

.header {
    width: 100%;
    height: 8%;
    background-color: #5D5E5D;
    border-bottom: 1px solid #353635;
}

.logo {
    color: #fff;
    font-weight: bold;
    margin-left: auto;
    letter-spacing: 4px;
    margin-right: auto;
    text-align: center;
    padding-top: 15px;
    line-height: 2em;
    font-size: 22px;
    opacity: 0.5;
}


/* About Section */

.text_column {
    width: 90%;
    text-align: left;
    font-weight: lighter;
    line-height: 25px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    color: #A3A3A3;
}

.gallery {
    clear: both;
    display: inline-block;
    width: 100%;
    background-color: #35056b;
    /* [disabled]min-width: 400px;
*/
    padding-bottom: 35px;
    padding-top: 0px;
    margin-top: -5px;
    margin-bottom: 0px;
}

.projectpic {
    width: 23%;
    text-align: center;
    float: left;
    margin-top: 35px;
    background-color: #F8F8F8;
    padding-bottom: 20px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 3px;
    padding-top: 20px;
    border-bottom: 4px solid #6DC7D0;
}

.gallery .projectpic h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #52BAD5;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.gallery .projectpic p {
    margin: 0;
    color: #B3B3B3;
    text-align: left;
    padding-left: 20px;
}

.cards {
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 200px;
    opacity: 0.8;
    border-radius: 2px;
}

.button {
    width: 200px;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
    transition: all 0.3s linear;
}

.contrib {
    background-color: rgb(220, 223, 74);
    border-radius: 5px;
    padding: 10px;
    opacity: 0.8;
    margin-bottom: 15px;
}

.button:hover {
    background-color: #6DC7D0;
    color: #FFFFFF;
    cursor: pointer;
}

.gallery .projectpic .tag {
    color: #5D5E5D;
    padding-bottom: 4px;
    padding-top: 4px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}


/* Mobile */

@media (max-width: 320px) {
    .logo {
        width: 100%;
        text-align: center;
        margin-top: 13px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .text_column {
        width: 100%;
        text-align: justify;
        padding: 0;
    }
    .text_column {
        padding-left: 20px;
    }
    .projectpic {
        width: 100%;
    }
}


/* Small Tablets */

@media (min-width: 321px)and (max-width: 767px) {
    .logo {
        width: 100%;
        text-align: center;
        margin-top: 13px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .text_column {
        width: 100%;
        text-align: left;
        padding: 0;
    }
    .projectpic {
        width: 100%;
    }
    .projectpic {
        width: 100%;
    }
    .text_column {
        padding-left: 20px;
        padding-right: 20px;
        width: 90%;
    }
    .profile {
        width: 100%;
    }
}


/* Small Desktops */

@media (min-width: 768px) and (max-width: 1096px) {
    .text_column {
        width: 100%;
    }
    .projectpic {
        width: 48%;
    }
    .text_column {
        width: 90%;
        margin: 0;
        padding: 20px;
    }
}