@import url(./variables.css);
@import url(./global.css);

/*styling navigation bar
.navbar {
    display: flex;
    justify-content: space-between;
    color: var(--white);
    text-align: center;
    overflow: hidden;
    background-color: var(--catcom-blue);
}

.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-left img {
    width: 75px;
}

.nav-title {
    font-size: 2.5rem;
}

.nav-right {
    padding: 10px;
}

/* Style the links inside the navigation bar 
.navbar a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
}



/* Add an active class to highlight the current page 
.navbar a.active {
    background-color: var(--catcom-blue);
    color: var(--light-blue)
}

/* Hide the link that should open and close the topnav on small screens 
.navbar .icon {
    display: none;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) 
@media screen and (max-width: 576px) {
    .navbar a:not(:first-child) {
        display: none;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) 
@media screen and (max-width: 600px) {
    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar .responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--catcom-blue);
    color: #fff;
}

.logo {
    display: flex;
}

.logo img {
    height: 50px;
    left: 0px;
}

.links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.links li {
    margin-right: 20px;
}

.links a {
    color: #fff;
    text-decoration: none;
}

/* Change the color of links on hover*/
.links a:hover {
    background-color: var(--light-gray);
    color: black;
}

.links.open {
    display: block;
    position: absolute;
    top: 75px;
    right: 0px;
    background-color: var(--asphalt);
    padding: 10px;
}


.burger {
    display: none;
    cursor: pointer;
}

.burger .line1,
.burger .line2,
.burger .line3 {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .links {
        display: none;
    }

    .burger {
        display: block;
    }
}

























/*styling about section*/
.about {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    box-sizing: border-box;
    min-width: 100%;
    position: relative;
    overflow: hidden;
    height: 40rem;
    margin-bottom: 2rem;
}


/* Slideshow container */
.carousel {
    position: absolute;
    overflow: hidden;
    width: 100%;
    z-index: -1;
}
.slides {
    width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slides img {
    vertical-align: middle;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}



/*text-container*/
.text-container {
    display: flex;
    flex-direction: space-evenly;
    z-index: 1;
    color: #f2f2f2;
    background-color: var(--asphalt);
    ;
    padding: 1rem;
    margin-left: 3rem;
    margin-top: 6rem;
    max-width: 40%;
    border-radius: 1rem;
}
/*socials-card*/
.socials-card {
    padding-left: inherit;
    padding-top: 10rem;
    position: absolute;
    bottom: 3rem;
    z-index: 1;
    display: flex;
    align-items: space-between;
}
.divider {
    background-color: white;
    margin: 1rem;
    min-width: 0.2rem;
    border-radius: 1rem;
}

.about-title {
    font-size: 1rem;
    font-weight: 500;
    justify-content: space-around;
}
.about-title:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.span {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}
.about-title span {
    padding: 1rem;
    margin: 0px;
    text-align: center;
    font-size: 48px;
}

p {
    font-size: 2rem;
    padding: 5px 5px 5px 0px;
    margin: 0.5rem;
}


/*join us*/
.join-us {
    color: #f2f2f2;
    text-align: center;
    font-size: 2rem;
    padding: 0.5rem;
    background-color: var(--asphalt);
    border-radius: 2rem;
    position: absolute;
    z-index: 1;
    right: 3rem;
    bottom: 3rem;
}

/*dot*/
.dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom:2rem;
    z-index: 2;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ddd;
    margin: 0 10px;
}
  
  .dot.active {
    background-color: #000;
  }

/* Fading animation */

.fade {
    -webkit-animation-name: slidein;
    -webkit-animation-duration: 0.5s;
    animation-name: slidein;
    animation-duration: 0.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .2
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .2
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .2
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .2
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .2
    }

    to {
        opacity: 1
    }
}

@media (max-width: 800px) {
    .text-container {
        margin: auto;
        width: 50%;
        padding: 10px;
    }

    .about-title span {
        font-size: 24px;
    }

    .about-title p {
        font-size: 12px;
    }
}


/*styling the community section*/

.from-community>.cards-container {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.from-community .cards-container .from-community-card {
    background-color: var(--light-gray);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.from-community .cards-container .from-community-card>div:first-child {
    display: block;
}

.from-community .cards-container .from-community-card>div .blogger-name {
    display: flex;
    align-items: center;
    padding: 0.5rem 0 1rem 0;
}

.from-community .cards-container .from-community-card>div .blogger-name img:first-child {
    margin-right: 1rem;
}

.from-community .cards-container .from-community-card>div .intro-bg {
    width: 100%;
}

.from-community .cards-container .from-community-card>div.blog-message {
    padding: 1rem;
    background-color: var(--light-green);
    border-radius: 10px;
    margin-top: 1rem;
}

.from-community .cards-container .from-community-card h4 {
    font-size: 1.5rem;
    font-weight: 500;
}

@media only screen and (min-width: 768px) {
    .from-community>.cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 992px) {
    .from-community .cards-container .from-community-card {
        flex-direction: row;
        justify-content: space-between;
    }

    .from-community .cards-container .from-community-card>div {
        width: 50%;
    }

    .from-community .cards-container .from-community-card>div:first-child {
        width: 40%;
        display: block;
    }
}


/*styling conta Us section*/
.contact-us {
    display: flex;
    flex-direction: row;
}

.contacts {
    display: flex;
    flex-direction: column;
    min-width: 30%;
    margin: 3%;
}


.motto {
    background-color: var(--catcom-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.motto img {
    max-width: 70%;
    margin: 0.5rem;
}


































/*styling the content section*/


.card {
    background-color: rgba(16, 3, 104, 0.932);
    overflow: auto;
    color: #FFFF;
    padding: 15px;
}

.container {
    display: flex;
    align-items: center;
}

.cont-1 {
    float: left;
    width: 45%;
    background-color: #c5c7c7;
    /* opacity: 0.6; */
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 30px;
    font-weight: 100px;
}

.text {
    padding-left: 20px;
    float: left;
    width: 45%;
}

.cont-2 {
    float: right;
    width: 45%;
    padding-right: 15px;
    background-color: #c5c7c7;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
}

button {
    background-color: rgb(220, 223, 74);
    border-radius: 25px;
    padding: 5px;
    margin: 15px;
}

button:hover {
    background-color: #6DC7D0;
    color: #FFFFFF;
    cursor: pointer;
}

.img-1 {
    float: right;
    width: 100%;
    height: 100%;
    margin-left: 0%;
    padding-right: 2px;
}

.img-1 img,
.img-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


