:root {
  --red: red;
  --asphalt: #0e0e0ec0;
  --dark-blue: #1e1e1e;
  --light-blue: #244674;
  --white: #fff;
  --light-gray: #d9d9d9;
  --dark-green: #073a4b;
  --light-green: #92b0ba;
  --light-x-green: #577681;

  --width-sm: 576px;
  --width-md: 768px;
  --width-lg: 992px;
  --width--xl: 1200px;
}
