<!--header-->
<header>
    <div class="logo">
      <img src="./assets/images/jkuatcatcomlogo-NoBg.png" alt="Logo">
      <div>
        CATCOM
      </div>
    </div>
    <ul class="links">
      <li><a href="#"><i class="fa fa-fw fa-home"></i></a></li>
      <li><a href="about.html">About Us</a></li>
      <li><a href="events.html">Events</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="join-us.html">Join Us+</a></li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
</header>
  <!--header-->