<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
       <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    Let's talk.<br />
                    <span style="color: hsl(218, 81%, 75%)">We would love to hear from you!</span>
                </h1>
                <div class="align-items-center">
                    <p>Share your excitement with us</p>
                    <span><a href="mailto:info@jkuatcatcom"><i class='fas fa-arrow-right'
                                style='font-size:72px;'></i></a></span>
                </div>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
                <div class="card bg-secondary">
                    <div class="card-body px-4 py-5 px-md-5">
                        <form>
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div class="form-outline mb-4">
                                <div class="form-outline">
                                    <label class="form-label" for="form3Example1">Name</label>
                                    <input type="text" id="form3Example1" class="form-control" />
                                </div>
                            </div>
                            <div class="form-outline mb-4">
                                <div class="form-outline">
                                    <label class="form-label" for="form3Example2">Subject</label>
                                    <input type="text" id="form3Example2" class="form-control" />
                                </div>
                            </div>
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example3">Email address</label>
                                <input type="email" id="form3Example3" class="form-control"
                                    placeholder="example@gmail.com" />
                            </div>

                            <!-- Subject input -->
                            <div class="form-outline mb-4">
                                <label class="control-label" for="comment">Comment:</label>
                                <div class="">
                                    <textarea class="form-control" rows="5" id="comment"></textarea>
                                </div>
                            </div>

                            <!-- Checkbox -->
                            <div class="form-check d-flex mb-4">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33"
                                    checked />
                                <label class="form-check-label" for="form2Example33">
                                    Subscribe to our newsletter
                                </label>
                            </div>

                            <!-- Submit button -->
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default btn-outline-warning">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->