<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    Let's talk.<br />
                    <span style="color: hsl(218, 81%, 75%)">We would love to hear from you!</span>
                </h1>
                <div class="align-items-center">
                    <p>Share your excitement with us</p>
                    <span><a href="mailto:info@jkuatcatcom"><i class='fas fa-arrow-right'
                                style='font-size:72px;'></i></a></span>
                </div>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
                <div class="card bg-secondary">
                    <div class="card-body px-4 py-5 px-md-5">
                        <form action="https://formsubmit.co/johnmwegah@gmail.com" method="POST" id="contact-form">
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div class="form-outline mb-4">
                                <div class="form-outline">
                                    <label class="form-label" for="name">Name</label>
                                    <input type="text" name="name" class="form-control" placeholder="Full Name"
                                        required>
                                </div>
                            </div>
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="email">Email address</label>
                                <input type="email" name="email" class="form-control" placeholder="Email Address"
                                    required>
                            </div>
                            <div class="form-outline mb-4">
                                <div class="form-outline">
                                    <label class="form-label" for="form3Example2">Subject</label>
                                    <input type="text" name="name" class="form-control"
                                        placeholder="Your want to talk about..." required>
                                </div>
                            </div>
                            <!-- Subject input -->
                            <div class="form-outline mb-4">
                                <label class="control-label" for="comment">Message:</label>
                                <div class="">
                                    <textarea placeholder="Your message..." class="form-control" name="message" rows="5"
                                        required></textarea>
                                </div>
                            </div>
                            <!-- Submit button -->
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default btn-outline-warning"
                                        id="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->